# OS / Editor files
.DS_Store
.idea/
.vscode/
.fleet/

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
package-lock.json

# Logs
logs
*.log

# Local env files
.env
.env.*
!.env.example

# Generated CSS files
public/output.css

# Vercel-specific files
.vercel
.vercel/output.log